  <div class="album py-5 ">
    <div class="container">

      <div class="row">
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "CYCLE.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">CYCLE<br>2020年夏湘南美術学院祭で制作した映像作品。3DCG作品であり初のアニメーション作品。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1KCgbqso2wG45bEE8DE9YZIjZOWalt1a1/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2020/7</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "CB.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">Brother<br>カンボジアのホテルにて取られた映像をかっこよく編集して欲しいと依頼を受けて制作。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/15yUZhwJC9wS1mGlTQZqicine6ZabNyXa/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2019/10</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "BM.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">バケモノの子MAD<br>当時一番好きだった映画をどうにかして手を加えて作品にしたいと思い、作った初MAD作品。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1DMdf2FiY6xQQQRBuZVEJb11EoISf-fDb/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2018/8</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "TCG.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">部活勧誘動画<br>当時所属していたコンピューター研究部の過疎化を防ぐため作った新入生勧誘用映像作品。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1N67QrCCs6pqgH01kbKF_i3hmA1w1FlED/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2016/12</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "MC.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">幾つもの月<br>当時熱中していたマインクラフトというゲームのシェーダーに感銘を受けて綺麗な景色を作りたいと制作。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1HwbVSgyBhKO9T9pxjL0eduPZzOF4rxwD/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2015/3</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "GC.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">飲みきれねえよ<br>3DCGアプリBlenderの肩慣らしとして15分間でどれだけグラスを作れるかに挑戦した作品。おおよそ飲みきれない量。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1ij7dczrcoj3IkC31a1azECEkewQDF9VO/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2020/4</small>
              </div>
            </div>
          </div>
        </div>

        
      
    </div>
  </div>