  <div class="album py-5 ">
    <div class="container">

      <div class="row">
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "CASINO.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">学園祭ポスター<br>学園祭の教室企画のポスター。フリー素材や手書きを駆使して作った高級感あふれる作品。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2019/10</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "ALG.png", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">ALGクランロゴ<br>当時依頼されたゲームクランのロゴマークの制作。シャープでかっこよくして欲しいと言われ制作。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1dfSAh2qOIS8SQOmzCHyHZDNmVrC33ph3/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2018/12</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "cap.png", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">キャプション<br>兄の展示や作品のキャプション。例年納期前日に依頼されて作っている。最近では大細密展などに使用。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/drive/folders/1uHZay__xLKW6JiQnLnXoq79PI9lnnedo?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2018/5.2019/7</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "mei.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">2018名刺1号くん<br>兄の展示のため使用した名刺。人生で初めての名刺作成であり、一枚で人一人を表現するのに苦戦した。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1Qgw1IlNtQLSUu03sj_ulZu-d400Hgylj/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2018/5</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "meisi.png", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">2019名刺2号くん<br>兄の展示のために使用した名刺No2。シンプルかつわかりやすいイメージを考えながら制作。子供用別バージョンもあり。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1r7RCoPqqi6K89HszQ8no1gRZHMYPdzkJ/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2019/7</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 mb-2">
          <div class="card mb-4 shadow-sm">
            <%= image_tag "TS.jpg", width: "349", height: "349" %>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text">Twitter ヘッダー依頼<br>twitterにて依頼されて作成したモノクロ。ゲームのキャラクターなのだが、その人のプレイスタイルなどを反映している。</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <a href="https://drive.google.com/file/d/1bRgXToz-ye08feEY9K0trsmrEoFC79cZ/view?usp=sharing" class="btn btn-outline-secondary" role="button" aria-pressed="true">View</a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">2020/5</small>
              </div>
            </div>
          </div>
        </div>

        
      
    </div>
  </div>